.DeckBuilder {
	position: relative;
	width: 100%;
	height: 100%;
}

.left_wrapper {
	position: relative;
	float: left;
	width: calc(100% - 350px);
	height: 100%;
}

.left_wrapper_top {
	position: relative;
	width: 100%;
	height: 90%;
	text-align: center;
}

.left_wrapper_bottom {
	position: relative;
	width: 100%;
	height: 10%;
	text-align: center;
}

.pagination>li>a, .pagination>li>span:active:focus {
	outline: none;
}

.card_image {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-right: 6px;
	width: 230px;
	height: 300px;
}

.right_wrapper {
	position: relative;
	float: right;
	width: 350px;
	height: 100%;
	padding: 20px 20px 20px 20px;
}

.decks {
	position: relative;
	width: 100%;
	height: 100%;
}

.deck {
	position: relative;
	width: 100%;
	height: 75px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.deck_scroll {
	width: 100%;
	height: 520px;
	margin-top: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

.deck_button {
	position: relative;
	width: 100%;
	height: 100%;
}

.left_deck_wrapper {
	position: relative;
	width: 75%;
	height: 100%;
	float: left;
	margin-left: 14px;
}

.right_deck_wrapper {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
}

.delete_deck_button {
	height: 75%;
	width: 75%;
	margin-top: 10px;
	background-color: #00000000;
	border: none;
}

.delete_button_icon {
	font-size: 20px;
}

.new_deck_button {
	position: relative;
	width: 100%;
	height: 100%;
}

.new_deck_name {

}

.deck_name {

}

.deck_status {

}

.ready {

}

.not_ready {

}

.card_button {
	width: 100%;
	height: 50px;
}

.card_button_save {
	width: 100%;
	height: 50px;
}

.card_button_name {

}

.current_deck_name {
	width: 100%;
	height: 50px;
	padding-top: 15px;
}

.current_deck_name_input {
	width: 100%;
	height: 100%;
	padding-left: 15px;
}

.cards {
	width: 100%;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.card {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 7px;
	background-color: #F2F2E9;
}

.card_image_hover {
	position: fixed;
	display: none;
	z-index: 99;
}

.card_image_hover .card_image {
	position: fixed;
	right: 330px;
	top: 220px;
	width: 200px;
	height: 310px;
}

.card:hover .card_image_hover {
	display: block;
}

.no_card {
	padding-top: 50px;
	padding-left: 2px;
}

.card_name {
	float: left;
	padding-left: 15px;
}

.card_amount {
	float: right;
	padding-right: 15px;
}
